body{
    background-color: rgb(182, 234, 255);
    border: none;
    font-family: sans-serif;
}

#f1, #f2{
    background-color: aliceblue;
    font-family: arial;
    outline: dashed 1px rgb(255, 255, 255);
    text-align: center;
    position: relative;
    margin: 5% 20%;
    border-width: 0px;
}

#title{
    background-color: aliceblue;
}

#submit{
    background-color: gray;
    color: aliceblue;
    position: relative;
    padding: 5px 50px;
    border-width: 0px;
    border-radius: 5px;
}

.error{
    background-color: aliceblue;
    color: red;
}

#name, #email, #age, #password, #passwordCheck{
  border-width: 0px;
  background-color: rgb(222, 243, 252);
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  display: none;
}

.modal {
  background: white;
  padding: 24px 16px;
  border-radius: 4px;
  width: 320px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-title {
  background: white;
  font-size: 24px;
  font-weight: bold;
}

.modal p {
  background: white;
  font-size: 16px;
}

.close-wrapper {
  background: white;
  text-align: right;
}
