#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  position: center;
}
/* 
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */
/* 
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
 */

body {
  background-color: #eef4ff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.todo-container {
  max-width: 1000px; /* 최대 너비 조정 */
  margin: 50px auto;
  padding: 20px;
  border: none;
  border-radius: 5px;
  display: flex; /* Flexbox 적용 */
  justify-content: space-between; /* 양쪽 정렬 */
  align-items: flex-start; /* 위로 정렬 */
  flex-wrap: wrap; /* 필요 시 줄 바꿈 */
}

h1, h2 {
  text-align: center;
  width: 100%; /* 가로 폭 100%로 설정 */
}

.input-container {
  border: none;
  margin: 20px auto; /* 수직 가운데 정렬 */
  text-align: center; /* 입력창 내부 요소 가운데 정렬 */
  width: 100%; /* 최대 너비 100% 설정 */
}

.input-container input {
  padding: 10px;
  width: 70%; /* 입력창 너비 조정 */
  border: 1px solid black;
  border-radius: 5px;
}

.todo-list, .done-list {
  width: 45%; /* 리스트 너비 조정 */
  margin: 0 auto; /* 수평 가운데 정렬 */
}

.todo-list {
  order: 1; /* 해야 할 일을 왼쪽으로 배치 */
}

.done-list {
  order: 2; /* 해낸 일을 오른쪽으로 배치 */
}

.todo-list ul, .done-list ul {
  list-style: none;
  padding: 0;
}

.todo-list li, .done-list li {
  padding: 10px;
  background-color: none;
  display: flex;
  justify-content: space-between;
  font-size: large;
  font-weight: 600;
  border-bottom: 1px solid grey;
  
  max-width: 400px;
}

.todo-list li button, .done-list li button {
  border: none;
  background-color: #d0d5f9;
  color: black;
  padding: 5px 10px;
  border-radius: 3px;
  font-weight: 600;
  cursor: pointer;
}
