body{
  background-color: #22254B;
}
.app-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 70px 0;
}
.movie-container{
  width: 250px;
  margin: 15px;
  background-color: #373B69;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
  color: white;
}
.movie-container img{
  width: 100%;
}
.movie-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.movie-info h4{
  margin: 0;
}
.movie-info span{
  margin-left: 3px;
}
